.FormSwitchContainer{
    width: calc(100% - 340px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 170px;
    gap: 40px;
}

.SwitchContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.CheckBoxInputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Unicheckbox{
    margin: 0;
    border: 1px solid #007AFF !important;
    background-color: #F9F5FF;
    padding: 5px;

}

input[type='checkbox'] {
    border: 1px solid #007AFF;

    border-color: #007AFF;
}

.UnicheckboxLabel{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #344054;

}

.formHeading{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.formContainer{
   
    width: 100%;
padding: 32px;
gap: 8px;
border-radius: 16px;
opacity: 0px;
background-color: #EBEEFD;


}

.InputUniContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;   
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
  
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #007AFF;
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  

  
  input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
  
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }